.footer {
    padding: 5rem 0 0 0;
    width: 100%;
    background-color: #020f34;
    color: #fff;
    bottom: 0;
    @include respond(phone) {
        font-size: 2rem;
    }
}

.wrap {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
        padding: 0 3rem 0 3rem;
    }
    @include respond(phone) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.contact {
    margin-top: 3rem;
    @include respond(phone) {
        margin: 0 auto;
        text-align: center;
    }
    &__item {
        margin: 0;
        color: #fff;
        font-size: 2rem;
        margin-top: 1rem;
    }

    &__desc {
        color: #888;
        margin-top: 1rem;
        font-size: 1.5rem;
        position: relative;
        margin-bottom: 7rem;
        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &__geo::before {
        content: '';
        display: block;
        position: absolute;
        top: -2.7rem;
        left: -5rem;
        background-image: url('../../img/map.svg');
        background-size: cover;
        width: 3rem;
        height: 3rem;
        @include respond(phone) {
            top: -8rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__smartphone::before {
        content: '';
        display: block;
        position: absolute;
        top: -2.7rem;
        left: -5rem;
        background-image: url('../../img/smartphone.svg');
        background-size: cover;
        width: 3rem;
        height: 3rem;
        @include respond(phone) {
            top: -8rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}